appdirs==1.4.3
colorama==0.3.9
coverage==4.4
decorator==4.0.11
Django==1.11.1
django-cors-headers==2.0.2
django-neomodel==0.0.3
factory-boy==2.8.1
Faker==0.7.12
graphene==1.4
graphene-django==1.3
graphql-core==1.1
graphql-relay==0.4.5
ipdb==0.10.3
ipython==6.0.0
ipython-genutils==0.2.0
iso8601==0.1.11
jedi==0.10.2
neo4j-driver==1.1.0
neomodel==3.2.3
packaging==16.8
pickleshare==0.7.4
promise==2.0.2
prompt-toolkit==1.0.14
py==1.4.33
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.0.7
pytest-cov==2.5.1
pytest-django==3.1.2
git+git://github.com/mverteuil/pytest-ipdb.git
pytest-mock==1.6.0
python-dateutil==2.6.0
pytz==2017.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
traitlets==4.3.2
typing==3.6.1
wcwidth==0.1.7
win-unicode-console==0.5
